# Minimal configuration

ARCH_ARM=y
ARCH_HAS_IRQ=y
BOARD_NK60=y
DISPLAY_SERVER=y
KEYBOARD=y
MM_DEBUG=y
NDK_SERVER=y
NK60_DISPLAY_SERVER=y
NK60_V2_KEY=y
NK60_V2_LED=y
NK60_V2_W25QXX=y
SPINLOCK_DEBUG=y
USB=y
USB_DEVICE_COMPOSITE=y
USB_DEVICE_HID_KEYBOARD=y
USB_HID=y
USB_WINUSB=y
