# ARM64 默认配置

# 架构
CONFIG_ARCH_ARM64=y
CONFIG_ARM64_CORTEX_A53=y
CONFIG_ARM64_4K_PAGES=y
CONFIG_ARM64_VA_BITS=39
CONFIG_ARM64_PA_BITS=40

# 编译器配置
CONFIG_CC_IS_GCC=y
# CONFIG_CC_IS_CLANG is not set
CONFIG_CC_VERSION_TEXT="gcc"
CONFIG_CC_HAS_ASM_GOTO=y
CONFIG_CC_HAS_WARN_MAYBE_UNINITIALIZED=y

# 板级
CONFIG_BOARD_QEMU_VIRT=y

# 内核配置
CONFIG_PAGE_SIZE=4096
CONFIG_SYS_TICK_MS=1
CONFIG_MAX_PRIORITY=32
CONFIG_STACK_GROWSUP=n
CONFIG_IDEL_TASK_STACK_SIZE=2048
CONFIG_CORE_TASK_STACK_SIZE=8192

# 内存管理
CONFIG_MMU=y
CONFIG_MM_DEBUG=n
CONFIG_MAX_ORDER=11

# 同步
CONFIG_SPINLOCK_DEBUG=n

# 日志和控制台
CONFIG_DEFAULT_CONSOLE="tty0"
CONFIG_LOG_FIFO_BUF_SIZE=1024
CONFIG_CONSOLE_FIFO_BUF_SIZE=1024
CONFIG_DEFAULT_LOG_LEVEL=6

# Shell
CONFIG_SHELL=y

# 设备树
CONFIG_DEVICE_TREE=y

# 测试
CONFIG_KERNEL_TESTS=n

# 文件系统
CONFIG_VFS=y
CONFIG_RAMFS=y
CONFIG_PROCFS=y
CONFIG_SYSFS=y