/*
 * Copyright (C) 2023-2024 胡启航<Nick Hu>
 *
 * Author: 胡启航<Nick Hu>
 *
 * Email: huqihan@live.com
 */

/dts-v1/;

/ {
    compatible = "qemu,stm32f103";
    model = "QEMU STM32F103 Board";
    #address-cells = <1>;
    #size-cells = <1>;

    chosen {
        bootargs = "";
    };

    memory@20000000 {
        device_type = "memory";
        reg = <0x20000000 0x5000>;   /* 20KB SRAM */
    };

    flash@08000000 {
        device_type = "flash";
        reg = <0x08000000 0x20000>;  /* 128KB Flash */
    };

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;

        cpu@0 {
            compatible = "arm,cortex-m3";
            device_type = "cpu";
            reg = <0>;
            clock-frequency = <72000000>;  /* 72MHz */
        };
    };

    clocks {
        hse: hse-clock {
            compatible = "fixed-clock";
            #clock-cells = <0>;
            clock-frequency = <8000000>;   /* 8MHz HSE */
        };

        hsi: hsi-clock {
            compatible = "fixed-clock";
            #clock-cells = <0>;
            clock-frequency = <8000000>;   /* 8MHz HSI */
        };
    };

    soc {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "simple-bus";
        ranges;

        rcc: rcc@40021000 {
            compatible = "st,stm32f1-rcc";
            reg = <0x40021000 0x400>;
            clocks = <&hse>, <&hsi>;
            clock-names = "hse", "hsi";
        };

        uart1: serial@40013800 {
            compatible = "st,stm32-uart";
            reg = <0x40013800 0x400>;
            interrupts = <37>;
            clocks = <&rcc>;
            status = "okay";
        };

        uart2: serial@40004400 {
            compatible = "st,stm32-uart";
            reg = <0x40004400 0x400>;
            interrupts = <38>;
            clocks = <&rcc>;
            status = "okay";
        };

        uart3: serial@40004800 {
            compatible = "st,stm32-uart";
            reg = <0x40004800 0x400>;
            interrupts = <39>;
            clocks = <&rcc>;
            status = "okay";
        };

        i2c1: i2c@40005400 {
            compatible = "st,stm32f1-i2c";
            reg = <0x40005400 0x400>;
            interrupts = <31>, <32>;
            clocks = <&rcc>;
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
        };

        i2c2: i2c@40005800 {
            compatible = "st,stm32f1-i2c";
            reg = <0x40005800 0x400>;
            interrupts = <33>, <34>;
            clocks = <&rcc>;
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
        };

        spi1: spi@40013000 {
            compatible = "st,stm32f1-spi";
            reg = <0x40013000 0x400>;
            interrupts = <35>;
            clocks = <&rcc>;
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
        };

        spi2: spi@40003800 {
            compatible = "st,stm32f1-spi";
            reg = <0x40003800 0x400>;
            interrupts = <36>;
            clocks = <&rcc>;
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
        };

        gpioa: gpio@40010800 {
            compatible = "st,stm32f1-gpio";
            reg = <0x40010800 0x400>;
            gpio-controller;
            #gpio-cells = <2>;
        };

        gpiob: gpio@40010C00 {
            compatible = "st,stm32f1-gpio";
            reg = <0x40010C00 0x400>;
            gpio-controller;
            #gpio-cells = <2>;
        };

        gpioc: gpio@40011000 {
            compatible = "st,stm32f1-gpio";
            reg = <0x40011000 0x400>;
            gpio-controller;
            #gpio-cells = <2>;
        };

        gpiod: gpio@40011400 {
            compatible = "st,stm32f1-gpio";
            reg = <0x40011400 0x400>;
            gpio-controller;
            #gpio-cells = <2>;
        };

        gpioe: gpio@40011800 {
            compatible = "st,stm32f1-gpio";
            reg = <0x40011800 0x400>;
            gpio-controller;
            #gpio-cells = <2>;
        };

        tim1: timer@40012C00 {
            compatible = "st,stm32-timer";
            reg = <0x40012C00 0x400>;
            interrupts = <24>, <25>, <26>, <27>;
            clocks = <&rcc>;
        };

        tim2: timer@40000000 {
            compatible = "st,stm32-timer";
            reg = <0x40000000 0x400>;
            interrupts = <28>;
            clocks = <&rcc>;
        };

        tim3: timer@40000400 {
            compatible = "st,stm32-timer";
            reg = <0x40000400 0x400>;
            interrupts = <29>;
            clocks = <&rcc>;
        };

        tim4: timer@40000800 {
            compatible = "st,stm32-timer";
            reg = <0x40000800 0x400>;
            interrupts = <30>;
            clocks = <&rcc>;
        };

        adc1: adc@40012400 {
            compatible = "st,stm32f1-adc";
            reg = <0x40012400 0x400>;
            interrupts = <18>;
            clocks = <&rcc>;
            #io-channel-cells = <1>;
        };

        adc2: adc@40012800 {
            compatible = "st,stm32f1-adc";
            reg = <0x40012800 0x400>;
            interrupts = <18>;
            clocks = <&rcc>;
            #io-channel-cells = <1>;
        };
    };
};